.timeDisplay {
  position: absolute;
  top: 0;
  font-size: 14px;
  color: #e0e0e0;
  background-color: #2a2a2a;
  padding: 8px 12px;
  border-radius: 4px;
}

.left {
  left: 0;
}

.left::after {
  content: '';
  position: absolute;
  bottom: -14px;
  left: 0px;
  width: 0;
  height: 0;
  border-top: 8px solid #2a2a2a;
  border-left: 8px solid #2a2a2a;
  border-right: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.right {
  right: 0;
  cursor: pointer;
}

.right::after {
  content: '';
  position: absolute;
  bottom: -14px;
  right: 0px;
  width: 0;
  height: 0;
  border-top: 8px solid #2a2a2a;
  border-right: 8px solid #2a2a2a;
  border-left: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
